.cctv{
    width: 62.5rem;
    height: 40rem;
    margin: auto;
    margin-top: 3.125rem;
}
.title{
    height: 3.75rem;
    margin-left: 2.8125rem;
}
.title_left{
    float: left;
}
img {
    width: 2.5rem;
}
.title_right{
    float: left;
    font-size: 1.1875rem;
    line-height: 2.5rem;
    margin-left: .625rem;
    width: 43.75rem;
}
.tv{
    height: 5.625rem;
    width: 12.5rem;
    border-radius: .3125rem;
    float: left;
    margin-top: 1.5625rem;
    margin-left: 2.5rem;
    box-shadow: .0625rem .125rem .25rem #bdbdbd;
    background-color: white;
    text-align: center;
    line-height: 5.625rem;
    font-size: .95rem;
    color: black;
    transform: scale(1);
    transition: transform 0.5s ease 0s;
}
.tv:hover {
    transform: scale(1.05); /*放大倍数*/
    background: teal;  /*背景色*/
    color: white; /*文字颜色*/
    font-weight: 600; /*文字加粗*/
}
.down{
    display: none;
}
.tv:hover .down{
    display: block;
}
.tv:hover .up{
    display: none;
}
.text{
    font-size: 0.95rem;
    color: white;
    text-decoration:none;
}

.local{
    width: 62.5rem;
    height: 71.875rem;
    margin: auto;
    margin-top: 3.125rem;
}
