.cctv{
    width: 62.5rem;
    height: 40rem;
    margin: auto;
    margin-top: 3.125rem;
}
.title{
    height: 3.75rem;
    margin-left: 2.8125rem;
}
.tit1{
    float: left;
}
img {
    width: 2.5rem;
}
.tit2{
    float: left;
    font-size: 1.1875rem;
    line-height: 2.5rem;
    margin-left: .625rem;
    width: 43.75rem;
}
.tv{
    height: 5.625rem;
    width: 12.5rem;
    border-radius: .3125rem;
    float: left;
    margin-top: 1.5625rem;
    margin-left: 2.5rem;
    box-shadow: .0625rem .125rem .25rem #bdbdbd;
    background-color: white;
    text-align: center;
    line-height: 5.625rem;
    font-size: .9375rem;
    color: black;
    transform: scale(1);
    transition: transform 0.5s ease 0s;
}
.tv:hover {
    transform: scale(1.05);
}
.local{
    width: 62.5rem;
    height: 71.875rem;
    margin: auto;
    margin-top: 3.125rem;
}
