body{
    margin: 0;
    padding: 0;
}
.cctv{
    width: 23.5rem;
    height: 53rem;
    margin-left: 0.5rem;
    margin-right: 0;
    margin-top: 1rem;
    padding: 0;
}
.cctv-single{
    width: 23.5rem;
    height: 50rem;
    margin-left: 0.5rem;
    margin-right: 0;
    margin-top: 0.6rem;
    padding: 0;
}
.title{
    height: 3.5rem;
    margin-left: 2rem;
    font-size: 1.1rem;
    line-height: 4rem;
}
.tv{
    height: 5rem;
    width: 10rem;
    border-radius: 0.2rem;
    float: left;
    margin-top: 1rem;
    margin-left: 1.15rem;
    box-shadow: 0.1rem 0.2rem 0.2rem #bdbdbd;
    background-color: white;
    text-align: center;
    line-height: 5rem;
    font-size: 0.95rem;
    color: black;
    transform: scale(1);
    transition: transform 0.5s ease 0s;
}
.tv:hover {
    transform: scale(1.05);
  }
 .local{
    width: 23.5rem;
    height: 101rem;
    margin-left: 0.5rem;
    margin-right: 0;
    margin-top: 1rem;
    padding: 0;
}
.local-single{
    width: 23.5rem;
    height: 98rem;
    margin-left: 0.5rem;
    margin-right: 0;
    margin-top: 0.6rem;
    padding: 0;
}
.sdtv{
    width: 23.5rem;
    height: 48rem;
    margin-left: 0.5rem;
    margin-right: 0;
    margin-top: 1rem;
    padding: 0;
}
.sdtv-single{
    width: 23.5rem;
    height: 44rem;
    margin-left: 0.5rem;
    margin-right: 0;
    margin-top: 0.6rem;
    padding: 0;
}
  
